<nav>
	<div class="nav container d-flex justify-content-between align-items-center">
		<div class="logo">
			<h1><a href="index.html">Glasses 鏡視界</a></h1>
		</div>
		<ul class="menu fs-1 d-flex text-align-center">
			<li><a href="./optical.html">系列鏡框</a></li>
			<li><a href="./branches.html">門市據點</a></li>
			<li><a href="./blog.html">部落格</a></li>
			<li><a href="./faq.html">常見問題</a></li>
		</ul>
	</div>
</nav>
