@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap");
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";

@import "./reset";
@import "./base";

@import "./custom/variables";
@import "./custom/theme-colors";

@import "./utilities/text";
@import "./utilities/flex";
@import "./utilities/spacing";

@import "./main";
@import "./layout/l-navbar";
@import "./layout/l-footer";
@import "./layout/l-pagination";
@import "./layout/l-page-title";
@import "./layout/l-select";
@import "./layout/l-branch";
@import "./layout/l-blog-menu";

@import "./pages/index";
@import "./pages/branch";
@import "./pages/branches";
@import "./pages/faq";
@import "./pages/optical";
@import "./pages/sunglasses";
@import "./pages/blogs";
@import "./pages/blog";
