.blog-menu {
	.blog-submenu {
		gap: 48px;
	}

	a {
		display: block;
		padding: 13px 0;
		color: $white;
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}

	span {
		cursor: pointer;
		font-size: 29px;
		padding: 13px 0;
		transition: transform 0.1s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

@media (max-width: 375px) {
	.blog-menu {
		span {
			display: none;
		}
	}
}
