.blog-menu {
	.blog-submenu {
		gap: 48px;
	}

	a {
		display: block;
		padding: 13px 0;
		color: $white;
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}

	span {
		cursor: pointer;
		font-size: 29px;
		padding: 13px 0;
		transition: transform 0.1s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

@include pad {
	.blog-menu {
		span {
			display: none;
		}
	}
}

@media (max-width: 576px) {
	.blog-menu {
		& > div {
			justify-content: center;
		}

		.blog-submenu {
			font-size: 16px;
			gap: 16px;
		}
	}
}

@include mobile {
	.blog-menu {
		display: none;
	}
}
