.footer-content-group {
	padding: 48px 0 32px 0;
	border-bottom: 1px solid $white;
	flex-direction: column;
}

.footer-info {
	margin-bottom: 24px;
}

.sitemap {
	gap: 48px;

	a {
		display: block;
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.social-btns {
	gap: 32px;

	img {
		width: 48px;

		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.contact {
	.material-symbols-outlined {
		font-size: 40px;
		margin-right: 20px;
	}

	li:first-child {
		margin-bottom: 8px;
	}

	a {
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: translateY(-5px);
		}
	}
}

.law {
	padding: 32px 0;

	* {
		color: inherit;
	}

	a {
		display: block;
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.policy {
	gap: 48px;
}

@include pad {
	.footer-content-group {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		padding: 24px 0;
	}

	.footer-info {
		margin-bottom: 0;
		order: 1;
	}

	.sitemap {
		display: none;
	}

	.contact {
		font-size: 16px;

		.material-symbols-outlined {
			font-size: 18px;
			margin-right: 10px;
		}
	}

	.social-btns {
		gap: 8px;

		img {
			width: 24px;
		}
	}

	.law {
		padding: 16px 0 24px 0;
		flex-direction: column;
		align-items: flex-start;
		font-size: 16px;
	}

	.copyright {
		margin-bottom: 8px;
	}

	.policy {
		flex-direction: column;
		gap: 8px;
	}
}
