.footer-content-group {
	border-bottom: 1px solid $white;
	flex-direction: column;
}

.sitemap {
	gap: 48px;

	a {
		display: block;
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.social-btns {
	gap: 32px;

	img {
		width: 48px;
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.contact {
	font-size: 36px;

	.material-symbols-outlined {
		font-size: 40px;
	}

	a {
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: translateY(-5px);
		}
	}
}

.law {
	* {
		color: inherit;
	}

	a {
		display: block;
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.policy {
	gap: 48px;
}

@include pad {
	.footer-content-group {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}

	.footer-info {
		order: 1;
	}

	.sitemap {
		display: none;
	}

	.contact {
		font-size: 16px;

		.material-symbols-outlined {
			font-size: 18px;
			margin-right: 10px;
		}
	}

	.social-btns {
		gap: 8px;

		img {
			width: 24px;
		}
	}

	.law {
		flex-direction: column;
		align-items: flex-start;
		font-size: 16px;
	}

	.policy {
		flex-direction: column;
		gap: 8px;
	}
}
