.page-title {
	border-left: 8px solid $red-4;
	padding-left: 16px;
	margin-bottom: 32px;
	font-weight: bold;

	@include pad {
		font-size: 36px;
	}

	@include mobile {
		margin-bottom: 24px;
		font-size: 24px;
	}
}
