// content 佔 8 欄
// sidebar tags 佔 3 欄
.blog {
	padding: 24px 0 80px 0;
}

.blog-header {
	p {
		margin-bottom: 8px;
	}

	.tags {
		margin-bottom: 8px;
	}
}

.blog-main {
	column-gap: 24px;
}

.blog-content {
	width: calc((856px / 1296px) * 100%);

	h3 {
		margin-bottom: 16px;
	}

	.social-btns {
		gap: 16px;
		margin-bottom: 16px;

		img {
			width: 24px;
		}
	}
}

.blog-pagination {
	width: calc((856px / 1296px) * 100%);
	padding-top: 24px;
	border-top: 1px solid $gray-2;

	a {
		display: block;
		color: $black-2;

		&:hover {
			color: $red-2;
		}

		&:first-child {
			.material-symbols-outlined {
				margin-right: 12px;
			}
		}

		&:last-child {
			.material-symbols-outlined {
				margin-left: 12px;
			}
		}
	}

	.material-symbols-outlined {
		vertical-align: middle;
		font-size: 20px;
	}
}

.blog-articles {
	li {
		margin-bottom: 40px;

		img {
			margin-bottom: 8px;
		}
	}
}

.tags-sidebar {
	width: calc((293px / 1296px) * 100%);
}

.tags-title {
	.material-symbols-outlined {
		margin-right: 12px;
		font-size: 38px;
		font-weight: 600;
	}
}

.tags-group {
	span {
		margin-right: 24px;
		margin-bottom: 4px;
	}
}

@media (max-width: 768px) {
	.blog {
		padding: 8px 0 80px 0;
	}

	.blog-content {
		width: calc((516px / 768px) * 100%);

		h3 {
			margin-bottom: 24px;
		}
	}

	.blog-articles {
		li {
			margin-bottom: 24px;

			img {
				margin-bottom: 16px;
			}

			&:last-child {
				margin-bottom: 40px;
			}
		}
	}

	.tags-sidebar {
		width: calc((120px / 768px) * 100%);
	}

	.tags-title {
		font-size: 16px;

		.material-symbols-outlined {
			margin-right: 2px;
			font-size: 19px;
		}
	}

	.tags-group {
		span {
			font-size: 16px;
			margin-right: 16px;
			margin-bottom: 4px;
		}
	}

	.blog-pagination {
		width: 100%;
	}
}

@media (max-width: 375px) {
	.blog {
		padding: 16px 0 64px 0;
	}

	.tags {
		font-size: 16px;
	}

	.blog-content {
		width: 100%;

		h2 {
			font-size: 24px;
		}

		h3 {
			margin-bottom: 16px;
		}
	}

	.blog-articles {
		li {
			margin-bottom: 16px;

			img {
				margin-bottom: 8px;
			}

			&:last-child {
				margin-bottom: 16px;
			}
		}
	}

	.tags-sidebar,
	.social-btns {
		display: none;
	}

	.blog-pagination {
		justify-content: center;
		padding-top: 16px;
		a {
			font-size: 0;

			.material-symbols-outlined {
				font-size: 16px;
			}
		}
	}
}
