.branch-info {
	width: calc((526px / 1296px) * 100%);
}

.branch-map {
	width: calc((746px / 1296px) * 100%);

	iframe {
		width: 100%;
		height: auto;
	}
}

.branch-phone:hover {
	// text-
}

// RWD - Pad
@include pad {
	.branch-group {
		flex-wrap: wrap;
	}

	// 門市資訊
	.branch-info-branch {
		width: 100%;
		display: flex;
		gap: 24px;

		img {
			object-fit: cover;
			width: 50%;
		}

		&-content {
			width: 50%;
		}
	}

	// 地圖
	.branch-map {
		width: 100%;
		aspect-ratio: 746/414;
	}
}

@media (max-width: 575px) {
	.branch-info {
		flex-direction: column;
		gap: 0;

		img {
			width: 100%;
		}

		&-content {
			width: 100%;
		}
	}
}

// RWD - phone
@include mobile {
	.branch {
		padding: 40px 0 64px 0;
	}

	.branch-select {
		margin-bottom: 24px;
	}
}
