.branch {
	padding: 96px 0 80px 0;
}

.branch-title {
	border-left: 8px solid $red-1;
	padding-left: 16px;
	margin-bottom: 32px;
}

.branch-select {
	position: relative;
	margin-bottom: 40px;

	span {
		margin-right: 16px;
	}

	select {
		padding: 6px 12px;
		width: calc((306px / 1296px) * 100%);

		// 隱藏原本箭頭樣式
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	&::after {
		content: "\25BC";
		font-size: 10px;
		position: absolute;
		top: 50%;
		transform: translate(-24px, -40%);
		pointer-events: none;
	}
}

.branch-group {
	gap: 24px;
}

.branch-info {
	width: calc((526px / 1296px) * 100%);
}

.branch-info-content {
	p {
		padding: 8px 24px;
		border: 1px solid $black-1;
	}
}

.branch-info-content {
	ul {
		padding: 16px 24px;
		border: 1px solid $black-1;
	}

	li:not(:first-child) {
		margin-top: 8px;
	}

	.material-symbols-outlined {
		font-size: 18px;
		margin-right: 8px;
	}

	a {
		color: $black-2;
	}
}

.branch-map {
	width: calc((746px / 1296px) * 100%);

	iframe {
		width: 100%;
		height: auto;
	}
}

// RWD - Pad
@media (max-width: 767px) {
	.branch {
		padding: 80px 0;
	}

	.branch-group {
		flex-wrap: wrap;
	}

	// 門市資訊
	.branch-info {
		width: 100%;
		display: flex;
		gap: 24px;

		img {
			object-fit: cover;
			width: 50%;
		}

		&-content {
			width: 50%;
		}
	}

	// 地圖
	.branch-map {
		width: 100%;
		aspect-ratio: 746/414;
	}
}

// RWD - phone
@media (max-width: 375px) {
	.branch {
		padding: 40px 0 64px 0;
	}

	.branch-title {
		margin-bottom: 24px;
	}

	.branch-select {
		margin-bottom: 24px;
	}

	.branch-info {
		flex-direction: column;
		gap: 0;

		img {
			width: 100%;
		}

		&-content {
			width: 100%;
		}
	}
}
