// 首頁橫幅
.home-banner {
	background: url("../images/home-header.png") no-repeat center / cover;
	padding: 296px 0;
	text-align: right;
}

.home-banner-content {
	h2 {
		margin-bottom: 4px;
	}

	a {
		display: inline-block;
		padding: 6px 12px;
		transition: background-color 0.2s ease-in-out;
		&:hover {
			background-color: $primary-dark;
		}
	}

	p {
		font-size: 36px;
	}
}

@include mobile {
	.home-banner {
		padding: 144px 0;
	}

	.home-banner-content {
		p {
			font-size: 16px;
		}

		h2 {
			font-size: 24px;
			margin-bottom: 8px;
		}

		a {
			padding: 6px 12px;
		}
	}
}

// 首頁特點
.features-group {
	gap: 24px;

	img {
		width: 100px;
		margin-bottom: 16px;
	}

	h3 {
		margin-bottom: 8px;
	}

	li {
		width: calc(100% - 72px);
		text-align: center;

		p {
			text-align: left;
		}
	}
}

@include pad {
	.features-group {
		flex-wrap: wrap;
		justify-content: center;

		li {
			width: calc(50% - 48px);
		}
	}
}

@include mobile {
	.features {
		h2 {
			font-size: 24px;
		}
	}

	.features-group {
		li {
			width: 100%;
		}
	}
}

// 首頁 經典系列鏡框
.classic-group {
	gap: 24px;

	li {
		flex: 1;
	}

	img {
		margin-bottom: 8px;
	}

	h3 {
		text-align: center;
	}
}

// QA: 縮放時，optical 會變得特別小
@include pad {
	.classic-group {
		flex-direction: column;
		width: calc((336px / 768px) * 100%);
		margin: 0 auto;
	}
}

@include mobile {
	.classic-glasses {
		.classic-group {
			width: 100%;
		}

		h2 {
			font-size: 24px;
			margin-bottom: 24px;
		}
	}
}

// 首頁 聯名設計鏡框
.collab {
	background: url("../images/index-bg.png") no-repeat center / cover;
	text-align: center;
}

.collab-group {
	h3 {
		border-right: 1px solid $tertiary-light;
		padding: 8px 0;
	}
}

@include pad {
	.collab-group {
		flex-direction: column;
		gap: 24px;
	}
}

@include mobile {
	.collab {
		h2 {
			font-size: 24px;
			margin-bottom: 24px;
		}
	}
	.collab-group {
	}
}

// 首頁 顧客推薦
.review-group {
	gap: 24px;

	li {
		border: 1px solid $tertiary-light;
		box-shadow: 0px 2px 6px $secondary-light;
	}
}

.review-item-content {
	padding: 16px;

	h3 {
		font-weight: 600;
		margin-bottom: 8px;
	}
}

@include pad {
	.review-group {
		flex-wrap: wrap;

		li {
			width: calc((100% - 24px) / 2);
		}
	}
}

@include mobile {
	.review {
		h2 {
			font-size: 24px;
			margin-bottom: 24px;
		}
	}

	.review-group {
		gap: 16px;

		li {
			width: 100%;

			p:first-of-type {
				margin-bottom: 72px;
			}
		}
	}
}

// 首頁 聯絡我們
.contact-group {
	max-width: 636px;
}

// QA label 加上 margin-bottom 為什麼沒反應
.contact-input {
	flex-direction: column;
	gap: 16px;

	li:not(:last-child) {
		// label {
		// 	margin-bottom: 8px;
		// }

		input,
		textarea {
			background-color: transparent;
			width: 100%;
			border: 2px solid $secondary;
			padding: 6px 12px;
		}

		textarea {
			resize: none;
			padding: 6px 0 106px 12px;
		}
	}
}

.contact-form {
	.send {
		text-align: center;
	}

	button {
		width: calc((416px / 1296px) * 100%);
		padding: 16px 0;
		border: none;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;

		&:hover {
			background-color: $primary-dark;
		}
	}
}

@include pad {
	.contact-group {
		h2 {
			font-size: 24px;
			margin-bottom: 24px;
		}
	}
}

@include mobile {
	.contact {
		padding: 0;
	}
}

@include mobile {
	.contact-input {
		margin-bottom: 24px;
	}
	.py-1 {
		padding: 40px 0;
	}
}
