// 首頁橫幅
.home-banner {
	background: url("../images/home-header.png") no-repeat center / cover;
	text-align: right;
}

.home-banner-content {
	a {
		display: inline-block;
		padding: 6px 12px;
		transition: background-color 0.2s ease-in-out;
		&:hover {
			background-color: $primary-dark;
		}
	}

	p {
		font-size: 36px;
	}
}

@include mobile {
	.home-banner-content {
		p {
			font-size: 16px;
		}

		h2 {
			font-size: 24px;
		}

		a {
			padding: 6px 12px;
		}
	}
}

// 首頁特點
.features-group {
	gap: 24px;

	img {
		width: 100px;
	}

	li {
		width: calc(100% - 72px);
		text-align: center;

		p {
			text-align: left;
		}
	}
}

@include pad {
	.features-group {
		flex-wrap: wrap;
		justify-content: center;

		li {
			width: calc(50% - 48px);
		}
	}
}

@include mobile {
	.features {
		h2 {
			font-size: 24px;
		}
	}

	.features-group {
		li {
			width: 100%;
		}
	}
}

// 首頁 經典系列鏡框
.classic-group {
	gap: 24px;

	li {
		flex: 1;
	}

	h3 {
		text-align: center;
	}
}

// QA: 縮放時，optical 會變得特別小
@include pad {
	.classic-group {
		flex-direction: column;
		width: calc((336px / 768px) * 100%);
		margin: 0 auto;
	}
}

@include mobile {
	.classic-glasses {
		.classic-group {
			width: 100%;
		}

		h2 {
			font-size: 24px;
		}
	}
}

// 首頁 聯名設計鏡框
.collab {
	background: url("../images/index-bg.png") no-repeat center / cover;
	text-align: center;
}

.collab-group {
	h3 {
		border-right: 1px solid $tertiary-light;
	}
}

@include pad {
	.collab-group {
		flex-direction: column;
		gap: 24px;
	}
}

@include mobile {
	.collab {
		h2 {
			font-size: 24px;
		}
	}
}

// 首頁 顧客推薦
.review-group {
	gap: 24px;

	li {
		border: 1px solid $tertiary-light;
		box-shadow: 0px 2px 6px $secondary-light;
	}
}

.review-item-content {
	h3 {
		font-weight: 600;
	}
}

@include pad {
	.review-group {
		flex-wrap: wrap;

		li {
			width: calc((100% - 24px) / 2);
		}
	}
}

@include mobile {
	.review {
		h2 {
			font-size: 24px;
		}
	}

	.review-group {
		gap: 16px;

		li {
			width: 100%;
		}
	}
}

// 首頁 聯絡我們
.contact-group {
	max-width: 636px;
}

.contact-input {
	flex-direction: column;
	gap: 16px;
	font-size: 0;

	label {
		font-size: 16px;
	}

	li:not(:last-child) {
		input,
		textarea {
			background-color: transparent;
			width: 100%;
			border: 2px solid $secondary;
			padding: 6px 12px;
		}

		textarea {
			resize: none;
			padding: 6px 0 106px 12px;
		}
	}
}

.contact-form {
	.send {
		text-align: center;
	}

	button {
		border: none;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;

		&:hover {
			background-color: $primary-dark;
		}
	}
}

@include pad {
	.contact-group {
		h2 {
			font-size: 24px;
		}
	}

	.contact-form {
		p {
			font-size: 16px;
		}
	}
}

@include mobile {
	button {
		width: 100%;
	}
}
