// 副選單 submenu
.submenu {
	li {
		width: calc(100% / 3);
		position: relative;
		border-right: 1px solid $gray-1;
		border-left: 1px solid $gray-1;

		&:hover {
			background-color: $red-3;
		}
	}

	// 增加底線標示
	li.border-highlight::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 8px;
		background-color: $red-2;
	}

	a {
		display: block;
		padding: 24px 0;
		color: inherit;
		font-weight: 600;
	}
}

@include pad {
	.submenu.container {
		padding: 0;
	}

	.submenu {
		a {
			font-size: 24px;
			padding: 16px 0;
		}
	}
}

@include mobile {
	.submenu {
		a {
			font-size: 16px;
		}
	}
}

// products banner
.products-banner {
	li {
		flex: 1;

		&:first-child {
			background: url("../images/product-header-1.png") no-repeat center / cover;
		}

		&:last-child {
			background: url("../images/product-header-2.png") no-repeat center / cover;
		}
	}

	a {
		display: block;
		aspect-ratio: 960/296;
	}
}

@include pad {
	.products-banner {
		li {
			&:first-child {
				background: url("../images/product-header-sm-1.png") no-repeat center /
					cover;
			}

			&:last-child {
				background: url("../images/product-header-sm-2.png") no-repeat center /
					cover;
			}
		}

		a {
			aspect-ratio: 384/296;
		}
	}
}

@include mobile {
	.products-banner {
		a {
			aspect-ratio: 188/136;
		}
	}
}

// products-list
.glasses-group {
	h2 {
		font-weight: 600;
		font-size: 42px;
	}

	h3 {
		margin-bottom: 32px;
	}
}

.glasses {
	column-gap: 24px;

	li {
		width: calc((100% - 72px) / 4);
		margin-bottom: 80px;
		transition: box-shadow 0.3s ease-in-out;

		p {
			font-size: 24px;
		}

		p:first-child {
			color: $black-2;
		}

		p:last-child {
			color: $red-2;
			font-weight: 600;
		}

		&:hover {
			box-shadow: 1px 1px 10px $black-1;
		}
	}
	flex-wrap: wrap;
}

.products-color {
	font-size: 0; // 去掉 span 中間的空白

	span {
		display: inline-block;
		width: 24px;
		height: 24px;
		border-radius: 4px;

		&:first-child {
			background-color: $brown-1;
			margin-right: 8px;
		}
		&:last-child {
			background-color: $brown-2;
		}
	}
}

@include pad {
	.glasses {
		li {
			width: calc((100% - 24px) / 2);
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 80px;
			}
		}
	}
}

@include mobile {
	.glasses-group {
		h2,
		h3 {
			font-size: 24px;
		}

		h3 {
			margin-bottom: 24px;
		}
	}

	.glasses {
		li {
			width: 100%;
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 64px;
			}
		}
	}
}
