<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Glasses 鏡視界</title>
		<link
			href="../assets/images/favicon.ico"
			rel="shortcut icon"
			type="image/x-icon" />
	</head>
	<body>
		<%- include('./layout/navbar'); -%>

		<ul class="submenu container d-flex text-align-center h3 text-black">
			<li>
				<a href="./optical.html">OPTICAL</a>
			</li>
			<li class="border-highlight">
				<a href="./sunglasses.html">SUNGLASSES</a>
			</li>
			<li><a href="###">FUNCTIONAL</a></li>
		</ul>

		<ul class="products-banner sunglasses d-flex">
			<li><a href="###"></a></li>
			<li><a href="###"></a></li>
		</ul>

		<div class="glasses-group sunglasses py-20 py-sm-10">
			<div class="container">
				<h2 class="text-align-center">2020 NEW COLLECTION</h2>
				<h3 class="h3 text-align-center">賽璐珞鈦金屬混合鏡框</h3>
				<ul class="glasses sunglasses d-flex">
					<li>
						<a href="###">
							<img src="../assets/images/product-7.png" alt="眼鏡" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<img src="../assets/images/product-8.png" alt="" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<img src="../assets/images/product-9.png" alt="" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<img src="../assets/images/product-10.png" alt="" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<img src="../assets/images/product-11.png" alt="" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
						</a>
					</li>
					<li>
						<a href="###">
							<img src="../assets/images/product-12.png" alt="" />
							<div class="glasses-content d-flex justify-content-between">
								<h4>BJ41600S</h4>
								<p>NTD3,490</p>
							</div>
							<div class="products-color">
								<span></span>
								<span></span>
							</div>
						</a>
					</li>
				</ul>

				<%- include("./layout/pagination") -%>
			</div>
		</div>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
