// font color
$white: #fff;

$red-1: #650300;
$red-2: #aa0601;
$red-3: #fbf2f2;

$gray-1: #dee2e6;
$gray-2: #707070;
$gray-3: #555555;
$gray-4: #f2f2f2;

$black-1: rgba(0, 0, 0, 0.16);
$black-2: #000;

$brown-1: #5f3e2d;
$brown-2: #b75929;
