// display
$display: (
	"flex": flex,
	"none": none,
	"inline": inline,
	"inline-block": inline-block,
);

@each $key, $value in $display {
	.d-#{$key} {
		display: $value;
	}
}

// justify-content
$justify-content: (
	"start": flex-start,
	"end": flex-end,
	"center": center,
	"between": space-between,
	"around": space-around,
	"evenly": space-evenly,
);

@each $key, $value in $justify-content {
	.justify-content-#{$key} {
		justify-content: $value;
	}
}

// align-items
$align-items: (
	"start": flex-start,
	"end": flex-end,
	"center": center,
	"baseline": baseline,
	"stretch": stretch,
);

@each $key, $value in $align-items {
	.align-items-#{$key} {
		align-items: $value;
	}
}
