// display
@each $key, $value in $display {
	.d-#{$key} {
		display: $value;
	}
}

// justify-content
@each $key, $value in $justify-content {
	.justify-content-#{$key} {
		justify-content: $value;
	}
}

// align-items
@each $key, $value in $align-items {
	.align-items-#{$key} {
		align-items: $value;
	}
}

@each $key, $value in $flex-wrap {
	.flex-#{$key} {
		flex-wrap: $value;
	}
}

@each $key, $value in $flex-direciton {
	.flex-#{$key} {
		flex-direction: $value;
	}
}

@each $key, $value in $align-self {
	.align-self-#{$key} {
		align-self: $value;
	}
}
