// display
$display: (
	"flex": flex,
	"block": block,
	"none": none,
	"inline": inline,
	"inline-block": inline-block,
);

@each $key, $value in $display {
	.d-#{$key} {
		display: $value;
	}
}

// justify-content
$justify-content: (
	"start": flex-start,
	"end": flex-end,
	"center": center,
	"between": space-between,
	"around": space-around,
	"evenly": space-evenly,
);

@each $key, $value in $justify-content {
	.justify-content-#{$key} {
		justify-content: $value;
	}
}

// align-items
$align-items: (
	"start": flex-start,
	"end": flex-end,
	"center": center,
	"baseline": baseline,
	"stretch": stretch,
);

@each $key, $value in $align-items {
	.align-items-#{$key} {
		align-items: $value;
	}
}

$flex-wrap: (
	"wrap": wrap,
	"nowrap": nowrap,
);

@each $key, $value in $flex-wrap {
	.flex-#{$key} {
		flex-wrap: $value;
	}
}

$flex-direciton: (
	"row": row,
	"row-reverse": row-reverse,
	"column": column,
	"column-reverse": column-reverse,
);

@each $key, $value in $flex-direciton {
	.flex-#{$key} {
		flex-direction: $value;
	}
}

$align-self: (
	"start": flex-start,
	"center": center,
	"end": flex-end,
	"auto": auto,
	"stretch": stretch,
	"baseline": baseline,
);

@each $key, $value in $align-self {
	.align-self-#{$key} {
		align-self: $value;
	}
}
