// .py-1 {
// 	padding-top: 96px;
// 	padding-bottom: 80px;
// }

// .py-2 {
// 	padding-top: 80px;
// 	padding-bottom: 80px;
// }

// // margin bottom
// .mb-1 {
// 	margin-bottom: 48px;
// }

// .mb-2 {
// 	margin-bottom: 24px;
// }

// 原寫法
// @include pad {
// 	.py-1,
// 	.py-2 {
// 		padding-top: 80px;
// 		padding-bottom: 80px;
// 	}
// }

// @include mobile {
// 	.py-1,
// 	.py-2 {
// 		padding-top: 40px;
// 		padding-bottom: 40px;
// 	}
// }

// for 迴圈做出間距
// 設定一個間距最大值的變數
$max: 74;

// pc 版
@for $i from 0 through $max {
	.m-#{$i} {
		margin: $i * 4px;
	}

	.mt-#{$i} {
		margin-top: $i * 4px;
	}

	.mb-#{$i} {
		margin-bottom: $i * 4px;
	}

	.ms-#{$i} {
		margin-left: $i * 4px;
	}

	.me-#{$i} {
		margin-right: $i * 4px;
	}

	.mx-#{$i} {
		margin-left: $i * 4px;
		margin-right: $i * 4px;
	}

	.my-#{$i} {
		margin-top: $i * 4px;
		margin-bottom: $i * 4px;
	}

	// padding
	.p-#{$i} {
		padding: $i * 4px;
	}

	.pt-#{$i} {
		padding-top: $i * 4px;
	}

	.pb-#{$i} {
		padding-bottom: $i * 4px;
	}

	.ps-#{$i} {
		padding-left: $i * 4px;
	}

	.pe-#{$i} {
		padding-right: $i * 4px;
	}

	.px-#{$i} {
		padding-left: $i * 4px;
		padding-right: $i * 4px;
	}

	.py-#{$i} {
		padding-top: $i * 4px;
		padding-bottom: $i * 4px;
	}
}

@include pad {
	// $i 是代表數字的變數
	// $i from 0 through $max 代表會設定出 0~$max，也就是 0~10 的數字
	// 最後就會編譯出 .mb-md-1 ~ .mb-md-10 共十種間距數值的 margin-bottom。
	@for $i from 0 through $max {
		.m-md-#{$i} {
			margin: $i * 4px;
		}

		.mt-md-#{$i} {
			margin-top: $i * 4px;
		}

		.mb-md-#{$i} {
			margin-bottom: $i * 4px;
		}

		.ms-md-#{$i} {
			margin-left: $i * 4px;
		}

		.me-md-#{$i} {
			margin-right: $i * 4px;
		}

		.mx-md-#{$i} {
			margin-left: $i * 4px;
			margin-right: $i * 4px;
		}

		.my-md-#{$i} {
			margin-top: $i * 4px;
			margin-bottom: $i * 4px;
		}

		// padding-md
		.p-md-#{$i} {
			padding: $i * 4px;
		}

		.pt-md-#{$i} {
			padding-top: $i * 4px;
		}

		.pb-md-#{$i} {
			padding-bottom: $i * 4px;
		}

		.ps-md-#{$i} {
			padding-left: $i * 4px;
		}

		.pe-md-#{$i} {
			padding-right: $i * 4px;
		}

		.px-md-#{$i} {
			padding-left: $i * 4px;
			padding-right: $i * 4px;
		}

		.py-md-#{$i} {
			padding-top: $i * 4px;
			padding-bottom: $i * 4px;
		}
	}
}

@include mobile {
	@for $i from 0 through $max {
		.m-sm-#{$i} {
			margin: $i * 4px;
		}

		.mt-sm-#{$i} {
			margin-top: $i * 4px;
		}

		.mb-sm-#{$i} {
			margin-bottom: $i * 4px;
		}

		.ms-sm-#{$i} {
			margin-left: $i * 4px;
		}

		.me-sm-#{$i} {
			margin-right: $i * 4px;
		}

		.mx-sm-#{$i} {
			margin-left: $i * 4px;
			margin-right: $i * 4px;
		}

		.my-sm-#{$i} {
			margin-top: $i * 4px;
			margin-bottom: $i * 4px;
		}

		// padding-sm
		.p-sm-#{$i} {
			padding: $i * 4px;
		}

		.pt-sm-#{$i} {
			padding-top: $i * 4px;
		}

		.pb-sm-#{$i} {
			padding-bottom: $i * 4px;
		}

		.ps-sm-#{$i} {
			padding-left: $i * 4px;
		}

		.pe-sm-#{$i} {
			padding-right: $i * 4px;
		}

		.px-sm-#{$i} {
			padding-left: $i * 4px;
			padding-right: $i * 4px;
		}

		.py-sm-#{$i} {
			padding-top: $i * 4px;
			padding-bottom: $i * 4px;
		}
	}
}
