// font size
.h1 {
	font-size: 64px;
}

.h2 {
	font-size: 48px;
}

.h3 {
	font-size: 42px;
}

.h4 {
	font-size: 36px;
}

.h5 {
	font-size: 32px;
}

.h6 {
	font-size: 24px;
}

.fs-1 {
	font-size: 20px;
}

.fs-2 {
	font-size: 18px;
}

.fs-3 {
	font-size: 14px;
}

// text align
.text-align-center {
	text-align: center;
}

// text color
.text-primary {
	color: $red-1;
}

.text-secondary {
	color: $red-2;
}

.text-tertiary {
	color: $gray-3;
}

.text-white {
	color: $white;
}
