.bg-primary {
	background-color: $red-2;
}

.bg-secondary {
	background-color: $red-1;
}

.bg-tertiary {
	background-color: $red-3;
}

.bg-white {
	background-color: $white;
}

.bg-black {
	background: $black-2;
}
